body {
  width: 100svw;
  height: 100svh;
  max-width: 50%;
  text-align: center;
  /* Centering without flexbox */
  margin: auto;
  align-content: center;
}

.container {
  max-width: 200px;
  margin: auto;
}

.svg-circle:hover + .svg-text-group {
  opacity: 0;
}
