body {
  width: 100svw;
  height: 100svh;
  max-width: 50%;
  text-align: center;
  /* Centering without flexbox or grid */
  margin: auto;
  align-content: center;
}

.code-block {
  background-color: rgb(226, 226, 226);
  padding: 0.2rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #c2667b;
}

.container {
  max-width: 200px;
  margin: auto;
}

.svg-circle:hover + .svg-text-group {
  opacity: 0;
}
